body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divider{
  text-align:center;
  
}

.divider td{
  justify-content: center;
}

.terms1{
  width:100%;
}
.terms2{
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-top:20px;
}
.terms2 input{
  border:1px solid #333;
  height:40px;
}

.terms1 button{
  margin-top:30px;
  margin-left:20%;
  width:60%;
}

table{
  width:100%;
}